/** partials for all common sass */
@import "../config/mixin";
@import "../config/colors";
@import "../config/fonts";
@import "../config/variables";
@import "../config/animations";

/** scsss for component */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  color: black;
  height: 8em;
  background-color: #edf2f7;
}
