/** partials for all common sass */
@import "../config/mixin";
@import "../config/colors";
@import "../config/fonts";
@import "../config/variables";
@import "../config/animations";

/** scsss for component */

.no {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  &--text {
    margin: 0 auto;
    margin-top: 30vh;
    font-size: 6em;
    font-weight: 700;
    color: white;
  }
}
@media screen and (min-width: 375px) {
  .no {
    &--text {
      font-size: 7em;
    }
  }
}

@media screen and (min-width: 425px) {
  .no {
    &--text {
      font-size: 8em;
    }
  }
}
